<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPECTRA Air - Ana Sayfa</title>
    <link rel="stylesheet" href="/css/anasayfa.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> <!-- Google Charts -->
    <script src="/js/anasayfa.js" defer></script>
</head>

<body>
    <!-- Aside Menu -->
    <div class="aside">
        <div class="logo">
            <img src="/images/Spectra AIR (1).png" alt="Spectra Air Logo">
            <p id="displayUsername">username</p> <!-- Kullanıcı adı burada görünecek --> 
        </div>
        <nav class="nav-links">
            <a href="/anasayfa" class="nav-link" id="anasayfa">
                <img src="/images/homepage_icon.png" alt="Ana Sayfa İkonu" class="nav-icon"> Ana Sayfa
            </a>
            <a href="/top5" class="nav-link" id="top5">
                <img src="/images/up_icon.png" alt="Top 5 İkonu" class="nav-icon"> Top 5 Havalimanı
            </a>
            <a href="/worst5" class="nav-link" id="worst5">
                <img src="/images/down_icon.png" alt="Worst 5 İkonu" class="nav-icon"> Worst 5 Havalimanı
            </a>
            <a href="/ilanalizleri" class="nav-link" id="ilanaliz">
                <img src="/images/analyse_icon .png" alt="İl Analizleri İkonu" class="nav-icon"> İl Analizleri
            </a>
            <a href="/tahminleme" class="nav-link" id="tahmin">
                <img src="/images/guess_icon.png" alt="Tahminleme İkonu" class="nav-icon"> Tahminleme
            </a>
        </nav>
        
        <footer>
            <p>info.spectra@gmail.com</p>
        </footer>
    </div>

    <div class="main-container">
        <!-- Navbar -->
        <div class="navbar-container">
            <div class="navbar-left">
                <img src="/images/spectra font logo.png" alt="spectra font logo">
            </div>

            <div class="navbar-right">
                <div class="language-switcher">
                    <button class="language-button" onclick="toggleDropdown()">
                        🌐 TR <span class="dropdown-icon">&nbsp;ᐁ</span>
                    </button>
                    <div class="dropdown-content" id="languageDropdown" style="display: none;">
                        <a href="#" onclick="setLanguage('tr')">TR</a>
                        <a href="#" onclick="setLanguage('en')">ENG</a>
                    </div>
                </div>

                <div class="fullscreen-button">
                    <button class="fullscreen" id="fullscreen-btn">
                        <img src="/images/fullscreenicon.png" alt="fullscreen icon">
                    </button>
                </div>

                <div class="user-button">
                    <button class="user">
                        <img src="/images/usericon.png" alt="Login Icon" />
                    </button>
                    <div class="login-menu">
                        <div id="usernameDisplay">username</div> <!-- Kullanıcı adı burada görünecek -->
                        <a href="/login">Çıkış Yap</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- HOME SECTION -->
        <div class="home-container">
            <div class="home-left">
                <h2>ANA SAYFA</h2>
            </div>
            <div class="home-right">
                <p><b>ANA SAYFA / HOME</b></p>
            </div>
        </div>

        <!-- Sayfa Bilgisi SECTION -->
        <div class="bilgi-container">
            <ul>
                <li class="a">Türkiye geneli İç ve Dış hatlara ait güncel analizler</li>
                <li class="b">İç hatlara ait son 5 yıllık uçuş ve yolcu sayıları</li>
                <li class="c">İç ve Dış hatlara ait uçuş verilerinin karşılaştırılmalı grafikleri</li>
            </ul>
        </div>

        <!-- DASHBOARD SECTION -->
        <div class="dashboard-container">
            <div class="grafik-alan">
                <h3>Yıllık İçhat Uçuş Sayıları</h3>
                <div id="ucus_grafik"></div>
            </div>
            <div class="grafik-alan">
                <h3>Yıllık İçhat Yolcu Sayıları</h3>
                <div id="yolcu_grafik"></div>
            </div>
            <div class="grafik-alan">
                <h3>Yıllık İç ve Dış Hat Uçuş Sayıları</h3>
                <div id="dis_ucus_grafik"></div>
            </div>
        </div>
        
        
       
    </div>
</body>

</html>
